@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    font-family: "Lato", sans-serif;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
}

img {
    margin-top: 30px;
    align-self: flex-start;
    justify-self: right;
    display: flexbox;
    width: 180px;
    border-radius: 360px;
}

.formulario {
    border: solid black;
    background-color: white;
}

.card {
    border: solid black;
    border-radius: 16px;
    margin: 32px;
}

.section-name {
    border-bottom: solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    color: cyan;
}

.section-content {
    align-items: center;
    justify-content: center;
    display: flex;
}

.nome {
    border: black;
    align-items: flex-start;
    justify-content: right;
    display: flexbox;
}
